html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    @extend html;
    font-size: 12px;
    color: $main-color;
    font-family: $font-stack;
    position: relative;
    min-width: 600px;
    overflow-x: auto;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 100%;
}

clear {
    clear: both;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    @extend %no-outline;
}

a:focus {
    @extend %no-outline;
}

input,
textarea {
    &:focus {
        @extend %no-outline;
    }
    @extend %no-outline;
    resize: none;
}

.blur {
    @include blur(10px, 0.9)
}

header {
    height: 60px;
    width: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    min-width: 500px;
}

.header-below {
    width: 100%;
    height: 20px;
    background: transparent url('../images/header-clip.jpg') no-repeat center top;
    margin-top: 60px;
    display: none;
}

.header-right {
    float: right;
    margin-right: 5px;
    width: 330px;
    & div {
        float: left;
        margin-left: 10px;
    }
    .profile-avatar {
        position: relative;
        img {
            width: 36px;
            height: 36px;
            margin-top: 10px;
            float: left;
        }
        .profilemenu {
            display: block;
            float: left;
            height: 55px;
        }
        ul {
            @include border-radius(3px);
            border: 1px solid #F3F1F1;
            list-style: none;
            width: 100px;
            position: absolute;
            top: 54px;
            right: 0px;
            display: none;
            z-index: 999;
            &:after {
                content: "";
                clear: both;
                display: block;
            }
            li {
                float: none;
                background-color: #F3F1F1;
                border-bottom: 1px solid #EAE6E6;
                position: relative;
                padding: 8px;
                a {
                    color: #969696;
                    text-decoration: none;
                    font-size: 13px;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
        &:hover ul {
            display: block;
        }
    }
    #profile-caret {
        margin-top: 23px;
        margin-left: 5px;
    }
}

.main-menu a {
    display: block;
}

.logo {
    width: 163px;
    height: 59px;
    float: left;
    span {
        float: left;
    }
    &-text {
        margin-top: 22px;
        color: #717580;
        font-size: 16px;
    }
}

.chat-icon {
    a {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.social-text {
    color: #BEC2CD;
}

.searchbox {
    position: relative;
    input {
        height: 28px;
        width: 190px;
        display: block;
        margin-top: 13px;
        background: transparent;
        border: 1px solid #4E4646;
        padding: 2px 30px 2px 5px;
        box-sizing: border-box;
        @include border-radius(2px);
        &:focus {
            @extend %no-outline;
        }
    }
}

footer {
    border-top: 1px solid #ECECEC;
    padding-top: 20px;
    width: 100%;
    height: 200px;
    ul {
        list-style: none;
        li {
            @extend %footer-text;
            color: #868484;
            a {
                @extend %footer-text;
                color: #2faf90;
                padding: 0;
                text-decoration: none;
            }
            span {
                color: #ECECEA;
            }
        }
    }
}

.footer-inner {
    width: 515px;
    margin: 0 auto;
}
