.img-bg {
    &:before {
        @extend %modal-bg;
    }
}

.img-content {
    @extend %modal-dialog;
    transform: translate(-50%, -50%);
    background-color: transparent;
    top: 18%;
    width: 88%;
    max-width: 900px;
    .post-details {
        background-color: #FFF;
    }
}

.imageMain {
    width: 100%;
    img {
        width: 100%;
    }
}

.img-wrapper {
    width: 900px;
    position: relative;
}

.img-large {
    display: block;
}

.post-detail-wrapper {
    position: absolute;
    z-index: 9999;
    background-color: #f9fafb;
    margin-top: -4px;
    width: 100%;
}

.modal {
    &:before {
        @extend %modal-bg;
    }
}

.modal {
    &-dialog {
        @extend %modal-dialog;
        top: 13%;
        min-width: 500px;
        width: 45%;
        height: 210px;
        padding: 7px 25px;
    }
    &-body {
        padding: 9px;
    }
    &-header {
        h2 {
            font-size: 17px;
            font-weight: 300;
            color: #848080;
            padding-left: 6px;
            margin-bottom: 7px;
        }
    }
    &-footer {
        text-align: right;
        width: 100%;
        height: 33px;
    }
    &-btn {
        width: 42%;
        float: left;
        height: 30px;
        a {
            @extend %site-btns;
        }
    }
}

#modal {
    &-input {
        @include border-radius(3px);
        width: 100%;
        height: 80px;
        box-sizing: border-box;
        border: 0;
        padding: 10px;
        font-size: 14px;
    }
    &-add {
        margin-left: 6px;
        width: 55%;
        float: left;
    }
}
