/*settings-sprite*/

.sprite-settings {
    background-image: url(../images/settings-sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-email-icon {
    width: 20px;
    height: 20px;
    background-position: -5px -5px;
}

.sprite-name-icon {
    width: 20px;
    height: 20px;
    background-position: -35px -5px;
}

.sprite-privacy-off {
    width: 35px;
    height: 30px;
    background-position: -65px -5px;
}

.sprite-privacy-on {
    width: 35px;
    height: 30px;
    background-position: -5px -45px;
}

.sprite-pswd-icon {
    width: 20px;
    height: 20px;
    background-position: -50px -45px;
}

.sprite-pswd-success-icon {
    width: 20px;
    height: 20px;
    background-position: -80px -45px;
}

.sprite-toggle-off {
    width: 60px;
    height: 34px;
    background-position: -50px -75px;
}

.sprite-toggle-on {
    width: 60px;
    height: 34px;
    background-position: -110px -5px;
}

.sprite-other {
    background-image: url(../images/settings-sprite2.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-close-btn {
    width: 25px;
    height: 25px;
    background-position: -5px -5px;
    color: #444;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: -26px;
    top: -29px;
}

.sprite-photo-icon-dark {
    width: 25px;
    height: 15px;
    background-position: -40px -5px;
    float: left;
}

.sprite-video-icon-dark {
    width: 25px;
    height: 15px;
    background-position: -40px -30px;
    float: left;
}


/*main sprite*/

.sprite-main {
    background-image: url(../images/main-sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-camera-icon {
    width: 26px;
    height: 13px;
    background-position: -5px -5px;
    float: left;
    margin-top: 4px;
}

.sprite-caret-up {
    width: 9px;
    height: 7px;
    background-position: -60px -5px;
    display: inline-block;
}

.sprite-caret-down {
    width: 9px;
    height: 7px;
    background-position: -41px -5px;
    display: inline-block;
}

.sprite-chat-icon {
    width: 45px;
    height: 59px;
    background-position: -41px -22px;
}

.sprite-like-icon {
    width: 16px;
    height: 16px;
    background-position: -96px -5px;
}

.sprite-logo {
    width: 45px;
    height: 59px;
    background-position: -122px -5px;
}

.sprite-reply-icon {
    width: 16px;
    height: 16px;
    background-position: -5px -74px;
}

.sprite-search-icon {
    width: 20px;
    height: 20px;
    background-position: -96px -74px;
    position: absolute;
    top: 17px;
    right: 7px;
}

.sprite-video-icon {
    width: 28px;
    height: 13px;
    background-position: -126px -74px;
    float: left;
    margin-top: 4px;
}
